<div class="container">
  <h1 class="mt-5 mb-4 text-center">Bienvenido</h1>
  
  <div class="row">
    <div class="col-md-4">
      <div class="card mb-4">
        <img class="card-img-top" alt="Películas" width="300" height="300" src="/assets/film.jpg" />
        <div class="card-body">
          <h5 class="card-title">Películas</h5>
          <p class="card-text">Explora nuestras películas</p>
          <%= link_to "Ver mas", movies_path, class: "btn btn-dark"%>
        </div>
      </div>
    </div>

    <div class="col-md-4">
      <div class="card mb-4">
        <img class="card-img-top" alt="Series" width="300" height="300" src="/assets/serie.jpg" />
        <div class="card-body">
          <h5 class="card-title">Series</h5>
          <p class="card-text">Descubre nuestras series</p>
          <%= link_to "Ver mas", seriees_path, class: "btn btn-dark"%>
          
        </div>
      </div>
    </div>

    <div class="col-md-4">
      <div class="card mb-4">
        <img class="card-img-top" alt="Documentales" width="300" height="300" src="/assets/documental.jfif" />
        <div class="card-body">
          <h5 class="card-title">Documentales</h5>
          <p class="card-text">Explora nuestros documentales</p>

          <%= link_to "Ver mas", documentary_films_path, class: "btn btn-dark"%>
        </div>
      </div>
    </div>
  </div>
</div>
